/* Import Roboto Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* General Styling */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(55, 67, 83);

    font-family: "Roboto", sans-serif;
}

/* Calculator UI */
.calc {
    width: 22.5rem;
    height: 100vh;

    display: flex;
    flex-direction: column;

    color: rgb(249, 249, 249);

    border: .125rem solid rgb(160, 174, 224);
    border-radius: 1rem;
}

.calc-display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    flex: 2;
}

.screen {
    font-size: 3rem;
    margin: 2rem 1rem;
}

.calc-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    flex: 3;
}

.row-buttons {
    display: flex;
    gap: 1rem;

    margin: 0 1rem;
}

.calc-button {
    color: rgb(249, 249, 249);
    background-color: inherit;

    font-size: 1.5rem;
    padding: 1rem;

    border: none;
    border-radius: 1rem;

    box-shadow: .125rem .125rem 1rem rgb(32, 48, 64);

    flex: 1;
}

.calc-button:active {
    transform: translate(.0625rem, .125rem);
}

.action-button {
    color: rgb(160, 174, 224);
}

.last-button {
    flex: 2;
}
