/* Import Roboto Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* General Styling */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;
}

/* Calculator UI */
.calc {
    width: 360px;
    height: 100vh;

    display: flex;
    flex-direction: column;

    color: rgb(160, 174, 224);
    background-color: rgb(55, 67, 83);
}

.calc-display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    flex: 2;
}

.screen {
    font-size: 48px;
    margin: 32px 16px;
}

.calc-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    flex: 3;
}

.row-buttons {
    display: flex;
    gap: 16px;

    margin: 0 16px;
}

.calc-button {
    color: rgb(248, 249, 249);
    background-color: inherit;

    font-size: 24px;
    padding: 16px;

    border: none;
    border-radius: 16px;

    box-shadow: 2px 2px 16px rgb(32, 48, 64);

    flex: 1;
}

.calc-button:active {
    transform: translate(1px, 2px);
}

.action-button {
    color: rgb(101, 114, 144);
}

.last-button {
    flex: 2;
}
